{% extends "header.html" %}
{% block title %}Login{% endblock %} 
{% block body %}

<!-- Simple about-text  -->
<div class="container">
  <div class="malwifi-template">
	<h2>MalWiFiCent</h2>
	<h4>By:</h4>
    <ul class="list-group">
		<li class="list-group-item">
			Hans Mathias Solli, Cyber security
		</li>
		<li class="list-group-item">
			Henrik Pedersen, Cyber security
		</li>
		<li class="list-group-item">
			Marthe Brendefur, Digital forensics
		</li>
	</ul>
		<p>
		MalWiFiCent was founded by three students at Noroff University College as a project.
		MalWiFiCent is a system that produces a convincing impersonation of internet connectivity, also known as a fake net. It builds on existing tools for fake connectivity, put together in a system that allows the user to customize the fake net in a predefined environment. One of the key elements for such a setup is to create traffic that will not be detected as fake by malware, as fake nets are mainly used for malware analysis. 
		</p>
    </div>
</div>
</body>
</html>
{% endblock %}