{% extends "header.html" %}
{% block title %}Configuration{% endblock %} 
{% block body %}
<div class="container">
    <div class="row">
        {% if stdout %}
        <div class="col-md-12">
            <textarea class="form-control" id="stdout" rows="5">{{ stdout }}</textarea>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <form action="{{ url_for('live') }}" method="post"> 
                <h3 class="text-center">INetSim Service</h3>
                <div class="radio">
                    {% if (inet_status == 1) %}
                    <label><input type="radio" name="event" value="start">Start</label>
                    <label><input type="radio" name="event" value="stop" checked="checked">Stop</label>
                    {% else %}
                    <label><input type="radio" name="event" value="start" checked="checked">Start</label>
                    <label><input type="radio" name="event" value="stop">Stop</label>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="outdir">Save logs to:</label>
                    <input type="text" class="form-control" placeholder="Outdir" id="outdir" name="outdir" value="{{ logpath }}">
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-margin">Execute</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </form>
        </div>
        <div class="col-sm-12 col-md-6">
            <form action="{{ url_for('capture') }}" method="post"> 
                <div class="form-group">
                    <h3 class="text-center">Tcpdump</h3>
                    <div class="radio">
                        {% if (tpcd_status[0] == 1) %}
                        <label><input type="radio" name="cap_event" value="start">Start</label>
                        <label><input type="radio" name="cap_event" value="stop" checked="checked">Stop</label>
                        {% else %}
                        <label><input type="radio" name="cap_event" value="start" checked="checked">Start</label>
                        <label><input type="radio" name="cap_event" value="stop">Stop</label>
                        {% endif %}
                    </div>
                    <label for="interface">Interface:</label>
                    <select class="form-control" name="interface" id="interface">
                        {% for if in interfaces %}
                            <option value="{{ if }}">{{ if }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="cap_dir">Save capture to:</label>
                    <input type="text" class="form-control" placeholder="Capture directory" id="cap_dir" name="cap_dir" value="{{ cap_dir }}">
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Execute</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </form>
        </div>
    </div>

    <div class="row">
        <form action="{{ url_for('update_config') }}" method="post">
            <h2 class="text-center">INetSim Config</h2>
            <div class="row">
                <h5>Available Interfaces:</h5>
                {% for k,v in network.items() %}
                    <span>{{k}}: {{v["IPv4"]}}</span>
                {% endfor %}
            </div>

            <h4>Configurations:</h4>
            {% for key, value in inetconfig.items() %}
                {% if key == "start_service" %}
                    <label>{{ key }}</label>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4">
                            {% for item in services %}
                                <label class="checkbox-inline">
                                    {% if item in value %}
                                        <input type="checkbox" class="form-check-input" name="{{key}}" value="{{item}}" checked>{{item}}
                                    {% else %}
                                        <input type="checkbox" class="form-check-input" name="{{key}}" value="{{item}}">{{item}}
                                    {% endif %}
                                </label>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                {% set name = key[1:] if key.startswith("#") else key %}
                    <div class="form-group">
                        <label for="{{ name }}">{{ name }}</label>
                        <div class="radio">
                            {% if key.startswith('#') %}
                            <label><input type="radio" name="{{name}}_status" value="enable">Enable</label>
                            <label><input type="radio" name="{{name}}_status" value="disable" checked="checked">Disable</label>
                            {% else %}
                            <label><input type="radio" name="{{name}}_status" value="enable" checked="checked">Enable</label>
                            <label><input type="radio" name="{{name}}_status" value="disable">Disable</label>
                            {% endif %}
                        </div>
                        <input type="text" class="form-control" placeholder="{{ value }}" id="{{ name }}" name="{{ name }}" value="{{ value }}">
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </div>
</div>
<script>
    document.getElementById("stdout").scrollTop = document.getElementById("stdout").scrollHeight 
</script>
</body>
</html>
{% endblock %}     